body {
    margin: 0;
    padding: 0;
}

header {
    width: calc(100% - 12px);
    margin: auto;
    height: 85px;
    background-color: #f2c757;
    text-align: center;
    line-height: 85px;
    font-family: "Holland Gothic W00 Regular";
    font-size: 60px;
    margin-bottom: 5px;
    color: #3f0915;;
}

.content {
    display: flex;
    justify-content: center;
    align-items:start;
    padding-top: 2px;
    width: 316px;
    margin-top: 20px;
    height: auto;
    background-color: #fff;
    text-align: center;
    flex-wrap: wrap;
}

.content img {
    width: 312px;
    height: 312px;
}

.content span {
    font-size: 13px;
    font-style: italic;
    margin-left: -140px;
}
.container {
    background-color: #3f0915;
    height: auto;
    width: calc(100% - 12px);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #fff;
    text-align: justify;
    width: 700px;
    font-family: "Trajan Pro";
    font-size: 13px;
}

.timeline div {
    margin-bottom: -3px;
}


footer {
    width: calc(100% - 12px);
    margin: auto;
    height: 60px;
    background-color: #f2c757;
    text-align: center;
    line-height: 60px;
    font-family: "Trajan Pro";
    font-size: 12px;
    margin-top: 5px;
}

@media screen and (max-width: 760px) and (min-width: 412px) {
    
    header, 
    footer, 
    .container {
        width: calc(100% - 12px);
    }

    .content img {
        width: 312px;
        height: 312px;
    }

    .content {
        width: 316px;
    }

    .content span {
        margin-left: -140px;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 12px;
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    .timeline div {
        padding-right: 10px;
        padding-left: 10px;    
    }
}

@media screen and (max-width: 413px) and (min-width: 320px) {
    
    header {
        font-size: 50px;
    }
    
    header, 
    footer, 
    .container {
        width: calc(100% - 12px);
    }

    .container {
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .content img {
        width: 212px;
        height: 212px;
    }

    .content {
        width: 216px;
    }

    .content span {
        margin-left: -50px;
    }

    .timeline {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 12px;
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

     .timeline div {
        padding-right: 10px;
        padding-left: 10px;    
    }

}